x-shared: &shared
  restart: always
  image: docker.n8n.io/n8nio/n8n
  environment:
    # Database
    - DB_TYPE=postgresdb
    - DB_POSTGRESDB_HOST=postgres
    - DB_POSTGRESDB_PORT=5432
    - DB_POSTGRESDB_DATABASE=${POSTGRES_DB}
    - DB_POSTGRESDB_USER=${POSTGRES_NON_ROOT_USER}
    - DB_POSTGRESDB_PASSWORD=${POSTGRES_NON_ROOT_PASSWORD}
    # Queue
    - EXECUTIONS_MODE=queue
    - QUEUE_BULL_REDIS_HOST=redis
    - QUEUE_HEALTH_CHECK_ACTIVE=true
    # Security
    - N8N_ENCRYPTION_KEY=${ENCRYPTION_KEY}
    - N8N_SECURE_COOKIE=false     # disables the security coolie feature (not recommended)
    # Email settings
    - N8N_EMAIL_MODE=smtp
    - N8N_SMTP_HOST=${N8N_SMTP_HOST}
    - N8N_SMTP_USER=${N8N_SMTP_USER}
    - N8N_SMTP_PASS=${N8N_SMTP_PASS}
    - N8N_SMTP_SENDER=${N8N_SMTP_SENDER}
    - N8N_SMTP_PORT=${N8N_SMTP_PORT:-465}
    - N8N_SMTP_SSL=${N8N_SMTP_SSL:-true}
    # Webhook
    - WEBHOOK_URL=${WEBHOOK_URL}
  links:
    - postgres
    - redis
  volumes:
    - /app/data/n8n/storage:/home/node/.n8n
  depends_on:
    redis:
      condition: service_healthy
    postgres:
      condition: service_healthy

services:
  postgres:
#    image: postgres:16
    build:
      context: .
      dockerfile: Postgresql.Dockerfile
    restart: always
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
      - POSTGRES_NON_ROOT_USER
      - POSTGRES_NON_ROOT_PASSWORD
    volumes:
      - /app/data/n8n/db:/var/lib/postgresql/data
#      - ./init-data.sh:/docker-entrypoint-initdb.d/init-data.sh
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -h localhost -U ${POSTGRES_USER} -d ${POSTGRES_DB}']
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7-alpine
    restart: always
    volumes:
      - /app/data/n8n/redis:/data
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
      timeout: 5s
      retries: 10

  n8n:
    <<: *shared
    ports:
      - "5678:5678"

  n8n-worker:
    <<: *shared
    command: worker
    depends_on:
      - n8n
